aws_region  = "us-east-1"
aws_profile = "your-aws-profile"

project_name = "telar"
environment  = "shared"

frontend_github_repository   = "owner/frontend-repository"
frontend_github_environments = ["dev"]
frontend_github_branches     = []

backend_github_repository   = "owner/backend-repository"
backend_github_environments = ["dev"]
backend_github_branches     = []

cloudflare_api_token = "your-cloudflare-api-token"
cloudflare_zone_id   = "your-cloudflare-zone-id"

checkov_email_domain              = "eddux.dev"
checkov_email_mail_from_subdomain = "ses"
checkov_email_dmarc_report_email  = null
checkov_email_manage_domain_spf   = false
checkov_email_manage_dmarc        = false
checkov_email_from_addresses      = ["no-reply-iac@domain"]

iac_github_repository   = "devEddu17x/telar-infrastructure"
iac_github_environments = ["dev", "qa", "prod"]
iac_github_branches     = ["develop", "qa", "prod"]
