profile        = "your_profile"
bucket         = "your-tf-state-bucket"
key            = "your-key-to-your-tf-state"
region         = "us-east-1"
dynamodb_table = "your-dynamodb-table"
encrypt        = true