aws_region  = "us-east-1"
aws_profile = "your-aws-profile"

project_name = "your-project-name"
environment  = "dev"

vpc_cidr           = "10.0.0.0/16"
availability_zones = ["us-east-1c", "us-east-1d"]
compute_subnet_cidrs = {
  "us-east-1c" = "10.0.0.0/24"
  "us-east-1d" = "10.0.1.0/24"
}
persistence_subnet_cidrs = {
  "us-east-1c" = "10.0.2.0/24"
  "us-east-1d" = "10.0.3.0/24"
}
ecs_container_port = your_container_port_number

s3_images_force_destroy = true or false
s3_images_cors = {
  allowed_headers = []
  allowed_methods = []
  allowed_origins = []
  max_age_seconds = 3000
}


firewall_rate_limits = [{
  name           = "rate_limit_name"
  limit          = 50
  regex_patterns = [".*/path/to/endpoint"]
}]

firewall_cloudwatch_metrics_enabled = false
firewall_sampled_requests_enabled   = false
firewall_redacted_fields            = ["authorization"]
firewall_log_destination_arns       = []


db_engine_version          = "17.7"
db_name                    = "your_db_name"
db_master_username         = "your_db_master_username"
db_min_capacity            = 0.5
db_max_capacity            = 16
db_backup_retention_period = 7
db_backup_window           = "08:00-09:00"
db_maintenance_window      = "sun:09:00-sun:10:00"
db_deletion_protection     = false
db_skip_final_snapshot     = true
